@import "./palette";
@import "./breakpoints";


@mixin section {
    margin-top: 12.3125rem;
}


@mixin section__title {
    position: relative;

    padding-bottom: 1.122em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 3.25rem;
    margin-left: 5%;

    color: $black;
    line-height: 1;
    font-size: 2.5625rem;
    font-weight: 800;
    text-transform: uppercase;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 1.4634em;
        height: 0.2439em;

        background: $black;
    }

    @include bp-pcWidth {
        margin-left: 25.285%;
    }
}


@mixin section__text {
    margin-right: 5%;
    margin-bottom: 6.0625rem;
    margin-left: 5%;

    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.471;
    text-align: justify;

    @include bp-pcWidth {
        margin-left: 19%;
        margin-right: 19%;
    };
}


@mixin section__image {
    display: block;

    width: 100%;
    height: auto;
}


@mixin section__image_left {

    @include bp-pcWidth {
        float: left;
        width: 50%;
        box-sizing: border-box;
        margin-right: 4%;
        margin-bottom: 1rem;
    }
}


@mixin section__column-title {

    font-size: 1.1875rem;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
}


@mixin section__column-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.471;
}
