@import "./palette";
@import "./breakpoints";
@import "./m-section";


.about-me {
    @include section;
}


.about-me__title {
    @include section__title;
}


.about-me__text {
    @include section__text;
}


.about-me__image {
    @include section__image;
}

.about-me__image_left {
    @include section__image_left;
}


.about-me__social-buttons {

    padding-left: 5%;

    @include bp-pcWidth {
        padding-left: 0;
    };
}

.about-me__social-button {
    margin-right: 0.769%;
}


.b-about-me__button {
    margin-right: 0.769%;
}


.about-me__name {
    margin-top: 3.125rem;
    margin-bottom: 2.1875rem;

    padding-left: 5%;

    font-size: 2.0625rem;
    text-transform: uppercase;

    font-weight: 400;
    line-height: 1.05;

    @include bp-pcWidth {
        margin-top: 0;
        padding-left: 0;
    }
}

.about-me__name_bold {
    font-weight: 800;
}


.about-me__about {
    margin-top: 3.125rem;
    margin-right: 5%;
    margin-bottom: 3.125rem;
    margin-left: 5%;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.471;

    @include bp-pcWidth {
        margin-left: 19%;
        margin-right: 19%;
    }
}

.about-me__about_first {

    @include bp-pcWidth {
        clear: right;
    }
}

.about-me__about_second {

    @include bp-pcWidth {

    }
}


.about-me__skills {
    font-size: 0.8125rem;
    line-height: 2.92;
    margin-right: 5%;
    margin-left: 5%;

    @include bp-pcWidth {
        float: right;
        margin-right: 0;
        margin-left: 3.077%;
        
        width: 50%;
    }
}


.about-me__skills-title {
    margin-top: 0;
    margin-bottom: 1.9em;
    font-size: 0.9375rem;
    line-height: 1.4;
    text-transform: uppercase;
}


.about-me__skill {
    height: 0.8125rem;
    width: 100%;

    background-color: $grey;
}


.about-me__skill-slider {
    height: 100%;

    background-color: $blue;
}
