@import "./palette";
@import "./breakpoints";
@import "./m-section";


.blog {
    @include section;
}


.blog__title {
    @include section__title;
}


.blog__text {
    @include section__text;
}


.blog__image {
    @include section__image;
}


.blog__column-title {
    @include section__column-title;
}

.blog__column-title_small {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.92;
}


.blog__column-text {
    @include section__column-text;
}


.blog__zoid {

    position: relative;

    @include bp-pcWidth {
    }
}


.blog__read-more {
    position: absolute;
    bottom: 3.125rem;
    right: 8%;
}
