@import './palette';


.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.33em 0.625em;

    font-size: 1rem;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    vertical-align: middle;
    cursor: pointer;

    height: 2em;
    outline: none;

    border-width: 0.1875em;
    border-style: solid;

    transition-property: background, border-color;
    transition-duration: 300ms, 200ms;

    &:hover {
        transform: scale(1.05);
    }
}


.button_white {
    border-color: $white;
    color: $white;
    background: none;

    &:hover {
        color: $black;
        border-color: $black;
    }

    &:active {
        color: $black;
        border-color: $black;
    }

    &:disabled {
        background: $white;
        color: $blue;
    }

    &:hover:disabled {
        border-color: $white;
        transform: none;
    }
}

.button_blue {
    border-color: $blue;
    color: $blue;
    background: none;

    &:hover {
        color: $black;
        border-color: $black;
    }

    &:focus {
        color: $black;
        border-color: $black;
    }

    &:disabled {
        background: $black;
        color: $white;
    }
}

.button_semi-transparent {
    background: rgba($blue, .6);
}

.button_active {
    color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background: none;
        cursor: default;

    }
}

.button_disabled {
    background: $white;
    color: $blue;
    border-color: $white;

    &:hover {
        background: $white;
        color: $blue;
        cursor: default;
        border: 0.1875em solid $white;
        transform: none;
    }
}
