@import './palette';
@import "./breakpoints";


body {
    background: $white;
    font-family: 'Open Sans', sans-serif;
    color: $black;
    min-width: 480px;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $black;
    }
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}


.row {

    @include bp-pcWidth {
        display: table;
    }
}


.column {
    text-align: justify;

    @include bp-pcWidth {
        display: table-cell;
        padding-top: 0;
        padding-bottom: 0;
        width: 50%;
        vertical-align: middle;
    }
}


.column_right {

    padding-top: 3.125rem;
    padding-bottom: 3.125rem;

    padding-right: 5%;
    padding-left: 5%;

    @include bp-pcWidth {
        padding-top: 0;
        padding-right: 19%;
        padding-bottom: 0;
        padding-left: 4%;
    };
}


.column_left {

    padding-top: 3.125rem;
    padding-bottom: 3.125rem;

    padding-right: 5%;
    padding-left: 5%;

    @include bp-pcWidth {
        padding-top: 0;
        padding-right: 4%;
        padding-bottom: 0;
        padding-left: 19%;
    }
}


.column_blue {
    background: $blue;
    color: $white;
}
