@import "./palette";
@import "./breakpoints";
@import "./m-section";


.contact {
    @include section;
}


.contact__title {
    @include section__title;
}


.contact__text {
    @include section__text;
}


.contact__map {
    width: 100%;
    height: 40.625rem;
    display: block;

    @include bp-pcWidth {
        float: left;
        width: 50%;
        height: 40.625rem;
    }
}


.contact__address {
    margin-top: 3.125rem;
    margin-bottom: 3.25rem;

    padding-right: 5%;
    padding-left: 5%;

    font-size: 1.0625rem;
    font-style: normal;
    line-height: 1.471;

    @include bp-pcWidth {
        float: left;

        max-width: 46%;
        margin-top: 0;

        padding-left: 4%;
        padding-right: 19%;
    }
}

.contact__address-title {
    text-transform: uppercase;
}

.contact__column-title {
    @include section__column-title;
}


.contact__column-text {
    @include section__column-text;
}
