@import "./palette";
@import "./breakpoints";


.contact-form {

    margin-right: 5%;
    margin-left: 5%;
    width: 85%;

    @include bp-pcWidth {
        margin: 0;

        float: left;
        width: 27%;
        padding-left: 4%;
        padding-right: 19%;
    }

}

.contact-form__field {
    margin-bottom: 1rem;
}


.contact-form__label {
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 2.53;
    text-transform: uppercase;
}


.contact-form__input {
    width: 100%;
    padding: 0.733em;
    border: 0.2em solid $grey;

    font-size: 0.9375rem;
    line-height: 1.47;
    outline: none;

    &:focus {
        border-color: $black;
        border-style: solid;
    }
}
