@import "./palette";
@import "./breakpoints";


.dropdown {
    position: relative;
}


.dropdown__content {
    position: absolute;

    left: -4.5454em;
    top: 1.5em;
    display: none;

    background: linear-gradient(transparent, transparent 2.2em, $black 2.2em, $black);
    font-size: 0.6875rem;
    line-height: 2;
    font-weight: 800;

    &::before {
        content: "";

        position: absolute;

        top: 1.5em;
        left: calc(50% - 0.7em);

        height: 0;
        width: 0;

        border-left: 0.7em solid transparent;
        border-right: 0.7em solid transparent;
        border-bottom: 0.8em solid $black;
    }
}


.dropdown:hover .dropdown__content {
    @include bp-pcWidth {
        display: block;
    }
}


.dropdown__list {
    padding-top: 4.2em;
    padding-left: 0;
    padding-bottom: 2em;
}


.dropdown__item {
    display: block;
    list-style: none;

    &:hover {
        background: $white;
    }
}


.dropdown__link {
    display: block;
    color: $white;

    padding-right: 8.18em;
    padding-left: 2.272em;

    &:hover {
        color: $black;
    }
}
