@import "./palette";
@import "./breakpoints";


.footer {
    margin-top: 3.125rem;
    
    padding-right: 5%;
    padding-left: 5%;

    @include bp-pcWidth {
        margin-top: 14.375rem;
        padding-right: 3.15%;
    }
}


.footer__navigation {
    margin-bottom: 1.25rem;

    @include bp-pcWidth {
        float: right;
    }
}


.footer__list {
    font-size: 0;
    position: relative;

    padding-left: 0;

    @include bp-pcWidth {

        padding-bottom: 1.75rem;

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;

            content: "";
            height: 0.625rem;
            width: 13%;

            background: $black;
        }
    }
}


.footer__item {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 1.615em;

    list-style: none;

    @include bp-pcWidth {
        display: inline-block;
        vertical-align: top;

        font-size: 0.8125rem;
        line-height: 1.692;
        font-weight: 800;

        &:last-child {
            margin-right: 0;
        }
    }
}


.footer__link {
    display: block;

    text-decoration: none;
    color: $black;

    &:hover {
        color: $blue;
    }
}


.footer__copyright {
    font-size: 0.6875rem;
    line-height: 2;

    @include bp-pcWidth {
        float: right;
        clear: right;
    }
}
