@import "./palette";
@import "./breakpoints";
@import "./m-section";


.gallery {
    @include section;
}


.gallery__title {
    @include section__title;
}


.gallery__text {
    @include section__text;
}


.gallery__image {
    @include section__image;
}


.gallery__column-title {
    @include section__column-title;
}


.gallery__column-text {
    @include section__column-text;
}


.gallery__tags {
    margin-right: 5%;
    margin-bottom: 3.375rem;
    margin-left: 5%;

    @include bp-pcWidth {
        margin-right: 32%;
        margin-left: 20.625%;
    }
}


.gallery__tag {
    margin-right: 0.769%;
    margin-bottom: 0.625rem;
}


.gallery__new-new {
    padding-top: 3.125rem;
    padding-right: 12%;
    padding-bottom: 3.125rem;
    padding-left: 12%;
    height: 100%;

    background:
        linear-gradient(rgba($blue, .88), rgba($blue, .88)),
        url('img/image-8.jpg') no-repeat;

        padding-right: 6%;
        padding-left: 6%;

        vertical-align: middle;
        text-align: center;
        color: $white;

    @include bp-pcWidth {
        padding-top: 0;
        padding-bottom: 0;
    }
}


.gallery__view-more {
    margin-top: 3rem;
}
