@import "./palette";
@import "./breakpoints";


.header {
    padding-bottom: 2rem;
    overflow: hidden;

    color: $white;

    @include bp-tabletWidth {
        padding-bottom: 3.125rem;
    }
}


.header__background {
    position: relative;
    z-index: -1;
    width: 100%;
    background: linear-gradient(to right, rgba($blue, .88), rgba($blue, .88)),
        $blue url("img/background-header.jpg") no-repeat;
    height: auto;
}

.header__background-tint {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 800px;
    background: $blue;
    opacity: .88;

    transition-property: opacity;
    transition-duration: 2s;
}


.header__background-image {
    position: absolute;
    display: none;


}

.header__topbar {
    padding-top: 2.5rem;
    padding-right: 5%;
    padding-left: 5%;
    @include bp-tabletWidth {
        margin-bottom: 13.4375rem;
        padding-right: 3.077%;
        padding-left: 3.077%;
    }
}

.header__slider {
    display: none;

    @include bp-tabletWidth {
        display: block;
        margin-left: 19.23%;
        margin-right: 23%;
    };
}
