.pagination {

}

.pagination__button {
    width: 2em;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0.3em;
}

.pagination__button_prev,
.pagination__button_next {
    width: auto;
    padding-left: 0.625em;
    padding-right: 0.625em;

}
