@import './palette';

.slider {

}

.slider__content {
    display: none;
}

.slider__title {
    position: relative;

    margin-left: 6.154%;

    font-size: 2.5625rem;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 1.122em;
    margin-bottom: 2.625rem;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 1.4634em;
        height: 0.2439em;

        background: $white;
    }
}


.slider__text {
    margin: 0 0 11.0625rem 0;
    height: 2.6em;
    font-size: 1.0625rem;
    line-height: 1.295;

    transition-property: display;
    transition-duration: 2s;
}

.slider__pagination {
    margin-left: 6.154%;
}
