@import "./palette";
@import "./breakpoints";


.topbar {
    position: relative;
}


.topbar__logo {
    max-width: 58px;
    margin-bottom: 3.625rem;

    @include bp-tabletWidth {
        float: left;
        max-width: 58px;
        margin-bottom: 0;
    }
}


.topbar__brand {
    display: none;

    @include bp-pcWidth {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 90px;

        margin: 0;

        font-size: 1.6875em;
        font-weight: 300;
        text-transform: uppercase;
    }
}


.topbar__navigation {
    @include bp-tabletWidth {
        float: right;
        margin-top: 1.25rem;
    }
}


.topbar__list {
    padding: 0;
    font-size: 0;

    @include bp-tabletWidth {
        padding: 0;
        font-size: 0;
    }
}

.topbar__item {
    margin-bottom: 10px; // to over

    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;

    list-style: none;

    &:last-child {
        margin-right: 0;
    }

    @include bp-tabletWidth {
        display: inline-block;
        margin-right: 2.2em;
        vertical-align: top;
        margin-bottom: 0;

        font-size: 0.9375rem;
        font-weight: 700;
    }
}


.topbar__link {
    display: block;
    text-decoration: none;

    color: $white;

    &:hover {
        color: $black;
    }

    @include bp-tabletWidth {
        display: block;
        text-decoration: none;

        color: $white;

        &:hover {
            color: $black;
        }
    };
}
