@import "./palette";
@import "./breakpoints";
@import "./m-section";


.welcome {
    @include section;
}


.welcome__title {
    @include section__title;
}


.welcome__text {
    @include section__text;
}


.welcome__image {
    @include section__image;
}


.welcome__column-title {
    @include section__column-title;
}


.welcome__column-text {
    @include section__column-text;
}


.welcome__web-development {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;

    position: relative;

    @include bp-pcWidth {

        padding-top: 25.65%;
        padding-bottom: 0;

        background:
           linear-gradient(to right, rgba($blue, 1), rgba($blue, .88)),
           url('img/image-2.jpg') no-repeat;
    }
}


.welcome__learn-more {
    position: absolute;
    bottom: 3.125rem;
    right: 8%;
}
