.about-me {
  margin-top: 12.3125rem; }

.about-me__title {
  position: relative;
  padding-bottom: 1.122em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.25rem;
  margin-left: 5%;
  color: #1e2123;
  line-height: 1;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase; }
  .about-me__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #1e2123; }
  @media only screen and (min-width: 64rem) {
    .about-me__title {
      margin-left: 25.285%; } }

.about-me__text {
  margin-right: 5%;
  margin-bottom: 6.0625rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471;
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .about-me__text {
      margin-left: 19%;
      margin-right: 19%; } }

.about-me__image {
  display: block;
  width: 100%;
  height: auto; }

@media only screen and (min-width: 64rem) {
  .about-me__image_left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin-right: 4%;
    margin-bottom: 1rem; } }

.about-me__social-buttons {
  padding-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .about-me__social-buttons {
      padding-left: 0; } }

.about-me__social-button {
  margin-right: 0.769%; }

.b-about-me__button {
  margin-right: 0.769%; }

.about-me__name {
  margin-top: 3.125rem;
  margin-bottom: 2.1875rem;
  padding-left: 5%;
  font-size: 2.0625rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.05; }
  @media only screen and (min-width: 64rem) {
    .about-me__name {
      margin-top: 0;
      padding-left: 0; } }

.about-me__name_bold {
  font-weight: 800; }

.about-me__about {
  margin-top: 3.125rem;
  margin-right: 5%;
  margin-bottom: 3.125rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471; }
  @media only screen and (min-width: 64rem) {
    .about-me__about {
      margin-left: 19%;
      margin-right: 19%; } }

@media only screen and (min-width: 64rem) {
  .about-me__about_first {
    clear: right; } }

.about-me__skills {
  font-size: 0.8125rem;
  line-height: 2.92;
  margin-right: 5%;
  margin-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .about-me__skills {
      float: right;
      margin-right: 0;
      margin-left: 3.077%;
      width: 50%; } }

.about-me__skills-title {
  margin-top: 0;
  margin-bottom: 1.9em;
  font-size: 0.9375rem;
  line-height: 1.4;
  text-transform: uppercase; }

.about-me__skill {
  height: 0.8125rem;
  width: 100%;
  background-color: #eeeeee; }

.about-me__skill-slider {
  height: 100%;
  background-color: #0c9aec; }

.blog {
  margin-top: 12.3125rem; }

.blog__title {
  position: relative;
  padding-bottom: 1.122em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.25rem;
  margin-left: 5%;
  color: #1e2123;
  line-height: 1;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase; }
  .blog__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #1e2123; }
  @media only screen and (min-width: 64rem) {
    .blog__title {
      margin-left: 25.285%; } }

.blog__text {
  margin-right: 5%;
  margin-bottom: 6.0625rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471;
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .blog__text {
      margin-left: 19%;
      margin-right: 19%; } }

.blog__image {
  display: block;
  width: 100%;
  height: auto; }

.blog__column-title {
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase; }

.blog__column-title_small {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.92; }

.blog__column-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471; }

.blog__zoid {
  position: relative; }

.blog__read-more {
  position: absolute;
  bottom: 3.125rem;
  right: 8%; }

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.33em 0.625em;
  font-size: 1rem;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 2em;
  outline: none;
  border-width: 0.1875em;
  border-style: solid;
  transition-property: background, border-color;
  transition-duration: 300ms, 200ms; }
  .button:hover {
    transform: scale(1.05); }

.button_white {
  border-color: #ffffff;
  color: #ffffff;
  background: none; }
  .button_white:hover {
    color: #1e2123;
    border-color: #1e2123; }
  .button_white:active {
    color: #1e2123;
    border-color: #1e2123; }
  .button_white:disabled {
    background: #ffffff;
    color: #0c9aec; }
  .button_white:hover:disabled {
    border-color: #ffffff;
    transform: none; }

.button_blue {
  border-color: #0c9aec;
  color: #0c9aec;
  background: none; }
  .button_blue:hover {
    color: #1e2123;
    border-color: #1e2123; }
  .button_blue:focus {
    color: #1e2123;
    border-color: #1e2123; }
  .button_blue:disabled {
    background: #1e2123;
    color: #ffffff; }

.button_semi-transparent {
  background: rgba(12, 154, 236, 0.6); }

.button_active {
  color: #1e2123;
  border-color: #1e2123; }
  .button_active:hover {
    color: #1e2123;
    background: none;
    cursor: default; }

.button_disabled {
  background: #ffffff;
  color: #0c9aec;
  border-color: #ffffff; }
  .button_disabled:hover {
    background: #ffffff;
    color: #0c9aec;
    cursor: default;
    border: 0.1875em solid #ffffff;
    transform: none; }

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #1e2123;
  min-width: 480px; }

a {
  color: #0c9aec;
  text-decoration: none; }
  a:hover {
    color: #1e2123; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

@media only screen and (min-width: 64rem) {
  .row {
    display: table; } }

.column {
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .column {
      display: table-cell;
      padding-top: 0;
      padding-bottom: 0;
      width: 50%;
      vertical-align: middle; } }

.column_right {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-right: 5%;
  padding-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .column_right {
      padding-top: 0;
      padding-right: 19%;
      padding-bottom: 0;
      padding-left: 4%; } }

.column_left {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-right: 5%;
  padding-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .column_left {
      padding-top: 0;
      padding-right: 4%;
      padding-bottom: 0;
      padding-left: 19%; } }

.column_blue {
  background: #0c9aec;
  color: #ffffff; }

.contact-form {
  margin-right: 5%;
  margin-left: 5%;
  width: 85%; }
  @media only screen and (min-width: 64rem) {
    .contact-form {
      margin: 0;
      float: left;
      width: 27%;
      padding-left: 4%;
      padding-right: 19%; } }

.contact-form__field {
  margin-bottom: 1rem; }

.contact-form__label {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 2.53;
  text-transform: uppercase; }

.contact-form__input {
  width: 100%;
  padding: 0.733em;
  border: 0.2em solid #eeeeee;
  font-size: 0.9375rem;
  line-height: 1.47;
  outline: none; }
  .contact-form__input:focus {
    border-color: #1e2123;
    border-style: solid; }

.contact {
  margin-top: 12.3125rem; }

.contact__title {
  position: relative;
  padding-bottom: 1.122em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.25rem;
  margin-left: 5%;
  color: #1e2123;
  line-height: 1;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase; }
  .contact__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #1e2123; }
  @media only screen and (min-width: 64rem) {
    .contact__title {
      margin-left: 25.285%; } }

.contact__text {
  margin-right: 5%;
  margin-bottom: 6.0625rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471;
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .contact__text {
      margin-left: 19%;
      margin-right: 19%; } }

.contact__map {
  width: 100%;
  height: 40.625rem;
  display: block; }
  @media only screen and (min-width: 64rem) {
    .contact__map {
      float: left;
      width: 50%;
      height: 40.625rem; } }

.contact__address {
  margin-top: 3.125rem;
  margin-bottom: 3.25rem;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 1.0625rem;
  font-style: normal;
  line-height: 1.471; }
  @media only screen and (min-width: 64rem) {
    .contact__address {
      float: left;
      max-width: 46%;
      margin-top: 0;
      padding-left: 4%;
      padding-right: 19%; } }

.contact__address-title {
  text-transform: uppercase; }

.contact__column-title {
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase; }

.contact__column-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471; }

.dropdown {
  position: relative; }

.dropdown__content {
  position: absolute;
  left: -4.5454em;
  top: 1.5em;
  display: none;
  background: linear-gradient(transparent, transparent 2.2em, #1e2123 2.2em, #1e2123);
  font-size: 0.6875rem;
  line-height: 2;
  font-weight: 800; }
  .dropdown__content::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: calc(50% - 0.7em);
    height: 0;
    width: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-bottom: 0.8em solid #1e2123; }

@media only screen and (min-width: 64rem) {
  .dropdown:hover .dropdown__content {
    display: block; } }

.dropdown__list {
  padding-top: 4.2em;
  padding-left: 0;
  padding-bottom: 2em; }

.dropdown__item {
  display: block;
  list-style: none; }
  .dropdown__item:hover {
    background: #ffffff; }

.dropdown__link {
  display: block;
  color: #ffffff;
  padding-right: 8.18em;
  padding-left: 2.272em; }
  .dropdown__link:hover {
    color: #1e2123; }

.footer {
  margin-top: 3.125rem;
  padding-right: 5%;
  padding-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .footer {
      margin-top: 14.375rem;
      padding-right: 3.15%; } }

.footer__navigation {
  margin-bottom: 1.25rem; }
  @media only screen and (min-width: 64rem) {
    .footer__navigation {
      float: right; } }

.footer__list {
  font-size: 0;
  position: relative;
  padding-left: 0; }
  @media only screen and (min-width: 64rem) {
    .footer__list {
      padding-bottom: 1.75rem; }
      .footer__list::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        height: 0.625rem;
        width: 13%;
        background: #1e2123; } }

.footer__item {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 1.615em;
  list-style: none; }
  @media only screen and (min-width: 64rem) {
    .footer__item {
      display: inline-block;
      vertical-align: top;
      font-size: 0.8125rem;
      line-height: 1.692;
      font-weight: 800; }
      .footer__item:last-child {
        margin-right: 0; } }

.footer__link {
  display: block;
  text-decoration: none;
  color: #1e2123; }
  .footer__link:hover {
    color: #0c9aec; }

.footer__copyright {
  font-size: 0.6875rem;
  line-height: 2; }
  @media only screen and (min-width: 64rem) {
    .footer__copyright {
      float: right;
      clear: right; } }

.gallery {
  margin-top: 12.3125rem; }

.gallery__title {
  position: relative;
  padding-bottom: 1.122em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.25rem;
  margin-left: 5%;
  color: #1e2123;
  line-height: 1;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase; }
  .gallery__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #1e2123; }
  @media only screen and (min-width: 64rem) {
    .gallery__title {
      margin-left: 25.285%; } }

.gallery__text {
  margin-right: 5%;
  margin-bottom: 6.0625rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471;
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .gallery__text {
      margin-left: 19%;
      margin-right: 19%; } }

.gallery__image {
  display: block;
  width: 100%;
  height: auto; }

.gallery__column-title {
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase; }

.gallery__column-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471; }

.gallery__tags {
  margin-right: 5%;
  margin-bottom: 3.375rem;
  margin-left: 5%; }
  @media only screen and (min-width: 64rem) {
    .gallery__tags {
      margin-right: 32%;
      margin-left: 20.625%; } }

.gallery__tag {
  margin-right: 0.769%;
  margin-bottom: 0.625rem; }

.gallery__new-new {
  padding-top: 3.125rem;
  padding-right: 12%;
  padding-bottom: 3.125rem;
  padding-left: 12%;
  height: 100%;
  background: linear-gradient(rgba(12, 154, 236, 0.88), rgba(12, 154, 236, 0.88)), url("img/image-8.jpg") no-repeat;
  padding-right: 6%;
  padding-left: 6%;
  vertical-align: middle;
  text-align: center;
  color: #ffffff; }
  @media only screen and (min-width: 64rem) {
    .gallery__new-new {
      padding-top: 0;
      padding-bottom: 0; } }

.gallery__view-more {
  margin-top: 3rem; }

.header {
  padding-bottom: 2rem;
  overflow: hidden;
  color: #ffffff; }
  @media only screen and (min-width: 48rem) {
    .header {
      padding-bottom: 3.125rem; } }

.header__background {
  position: relative;
  z-index: -1;
  width: 100%;
  background: linear-gradient(to right, rgba(12, 154, 236, 0.88), rgba(12, 154, 236, 0.88)), #0c9aec url("img/background-header.jpg") no-repeat;
  height: auto; }

.header__background-tint {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 800px;
  background: #0c9aec;
  opacity: .88;
  transition-property: opacity;
  transition-duration: 2s; }

.header__background-image {
  position: absolute;
  display: none; }

.header__topbar {
  padding-top: 2.5rem;
  padding-right: 5%;
  padding-left: 5%; }
  @media only screen and (min-width: 48rem) {
    .header__topbar {
      margin-bottom: 13.4375rem;
      padding-right: 3.077%;
      padding-left: 3.077%; } }

.header__slider {
  display: none; }
  @media only screen and (min-width: 48rem) {
    .header__slider {
      display: block;
      margin-left: 19.23%;
      margin-right: 23%; } }

.pagination__button {
  width: 2em;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.3em; }

.pagination__button_prev,
.pagination__button_next {
  width: auto;
  padding-left: 0.625em;
  padding-right: 0.625em; }

.slider__content {
  display: none; }

.slider__title {
  position: relative;
  margin-left: 6.154%;
  font-size: 2.5625rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 1.122em;
  margin-bottom: 2.625rem; }
  .slider__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #ffffff; }

.slider__text {
  margin: 0 0 11.0625rem 0;
  height: 2.6em;
  font-size: 1.0625rem;
  line-height: 1.295;
  transition-property: display;
  transition-duration: 2s; }

.slider__pagination {
  margin-left: 6.154%; }

.topbar {
  position: relative; }

.topbar__logo {
  max-width: 58px;
  margin-bottom: 3.625rem; }
  @media only screen and (min-width: 48rem) {
    .topbar__logo {
      float: left;
      max-width: 58px;
      margin-bottom: 0; } }

.topbar__brand {
  display: none; }
  @media only screen and (min-width: 64rem) {
    .topbar__brand {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 90px;
      margin: 0;
      font-size: 1.6875em;
      font-weight: 300;
      text-transform: uppercase; } }

@media only screen and (min-width: 48rem) {
  .topbar__navigation {
    float: right;
    margin-top: 1.25rem; } }

.topbar__list {
  padding: 0;
  font-size: 0; }
  @media only screen and (min-width: 48rem) {
    .topbar__list {
      padding: 0;
      font-size: 0; } }

.topbar__item {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none; }
  .topbar__item:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 48rem) {
    .topbar__item {
      display: inline-block;
      margin-right: 2.2em;
      vertical-align: top;
      margin-bottom: 0;
      font-size: 0.9375rem;
      font-weight: 700; } }

.topbar__link {
  display: block;
  text-decoration: none;
  color: #ffffff; }
  .topbar__link:hover {
    color: #1e2123; }
  @media only screen and (min-width: 48rem) {
    .topbar__link {
      display: block;
      text-decoration: none;
      color: #ffffff; }
      .topbar__link:hover {
        color: #1e2123; } }

.welcome {
  margin-top: 12.3125rem; }

.welcome__title {
  position: relative;
  padding-bottom: 1.122em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.25rem;
  margin-left: 5%;
  color: #1e2123;
  line-height: 1;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase; }
  .welcome__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.4634em;
    height: 0.2439em;
    background: #1e2123; }
  @media only screen and (min-width: 64rem) {
    .welcome__title {
      margin-left: 25.285%; } }

.welcome__text {
  margin-right: 5%;
  margin-bottom: 6.0625rem;
  margin-left: 5%;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471;
  text-align: justify; }
  @media only screen and (min-width: 64rem) {
    .welcome__text {
      margin-left: 19%;
      margin-right: 19%; } }

.welcome__image {
  display: block;
  width: 100%;
  height: auto; }

.welcome__column-title {
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase; }

.welcome__column-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.471; }

.welcome__web-development {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  position: relative; }
  @media only screen and (min-width: 64rem) {
    .welcome__web-development {
      padding-top: 25.65%;
      padding-bottom: 0;
      background: linear-gradient(to right, #0c9aec, rgba(12, 154, 236, 0.88)), url("img/image-2.jpg") no-repeat; } }

.welcome__learn-more {
  position: absolute;
  bottom: 3.125rem;
  right: 8%; }
